# Initial Data Consistency checks

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#path import
path = r'C:\Users\guzic\Contacts\Instacart Grocery Basket Analysis'

In [4]:
# products import
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [5]:
# orders import
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepped Data', 'orders_wrangled.csv'), index_col = False)

In [ ]:
# code for changing value into a NaNs

ords_prods_merge.loc[ords_prods_merge['COLUMN'] >100, 'COLUMN'] = np.nan

In [6]:
# create a datafram
df_test = pd.DataFrame()

In [7]:
# create a mixed type column
df_test['mix'] = ['a', 'b', 1, True]

In [8]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [9]:
# check for mixed types
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [10]:
df_test['mix'] = df_test['mix'].astype('str')

In [11]:
# nothing at bottom (no mix) once type is changed 
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

In [12]:
# products missing values
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [13]:
#datafram subset of the 16 missing products
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [14]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [15]:
#shape BEFORE removing missing values
df_prods.shape

(49693, 5)

In [16]:
# new data frame without missing values
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [17]:
# shape AFTER creating clean data frame - 16 less
df_prods_clean.shape

(49677, 5)

In [18]:
# products check for duplicates - use NEW data frame you created previously
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [19]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [20]:
# deleting duplicates from products
# original shape

df_prods_clean.shape

(49677, 5)

In [21]:
# new dataframe without products duplicates
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [22]:
# New shape - 5 less for 5 duplicates - Total removal of 16 + 5 = 21
df_prods_clean_no_dups.shape

(49672, 5)

In [26]:
df_prods_clean_no_dups.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [27]:
# export of clean & no duplicates of products
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepped Data', 'products_checked.csv'))

In [28]:
# Question #2
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

In [ ]:
# Observations
There is something that could be investigated further... The make prices 
is $99,999. That seems to be quite alot for any particular grocery product. 
Perhaps it is an outlier or a mistake? Everything else seems to be correct 
nothing else really stands out or could be alarming for the particular data 
we are analyzing.

In [32]:
# checking for mixed data in orders

for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

In [ ]:
 # I did not find any mixed-type data. - orders data type is all numerical
There was nothing that showed up after checking

In [33]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_the_week,time_of_order,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [34]:
# Question #5 - check of missing values in the orders file
df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
order_number                   0
orders_day_of_the_week         0
time_of_order                  0
days_since_prior_order    206209
dtype: int64

In [35]:
# Question #5b. I don't believe this is missing data. This is actually important.
# if the days since prior order is 0, then it means the entry is for a first time 
# customer and it's their first order since they've never had a previous order.
# This is important to note as a marketing campaign could be geared to customers
# after they make their first purchase for example.

In [36]:
# Question #6. Dealing with missing values in orders 
# Create a new variable that acts like a flag based on the missing value.
# I am going to change the variable to:
# "first_time_order" since if they've never had a previous order, it must be their first.

df_ords['days_since_prior_order'].fillna('first_time_order', inplace=True)

In [46]:
# Question #7 - Duplicate check for orders
df_ords_dups = df_ords[df_ords.duplicated()]

In [47]:
df_ords_dups

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, order_number, orders_day_of_the_week, time_of_order, days_since_prior_order]
Index: []

In [ ]:
# Question #8 - There are no duplicates. - 3421083 total

In [49]:
df_ords.shape

(3421083, 7)

In [50]:
# export of clean & no duplicates of orders
df_ords.to_csv(os.path.join(path, '02 Data','Prepped Data', 'orders_checked.csv'))